# Ollama Configuration 
# Host where Ollama is running the VLM. 
OLLAMA_HOST=127.0.0.1:11434

# If you want the app to use a specific binary, set the full path here.
# OLLAMA_BIN=./bin/ollama

#  Hugging Face
# require authentication for model access, provide your token here.
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
